@{
    ViewBag.Title = "Invoices";
}

@section scripts {
    @Scripts.Render("~/bundles/invoices")
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="fieldset-details">
                <legend>Ivoices</legend>
                
            </fieldset>
        </div>
    </div>
</div>