@model List<ProjectsAccounting.Common.Models.TaskModel>
<div class="col-md-6">
    <fieldset class="fieldset-details">
        <legend>Tasks Info</legend>
        <div class="table-responsive">
            <table class="table table-striped" id="tasksTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>User Name</th>
                        <th class="text-right">Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var task in Model)
                        {
                            <tr>
                                <td>@task.Name</td>
                                <td>@task.User.UserName</td>
                                <td class="text-right">@task.HoursReported.ToString("0.00")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</div>