body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.td-with-input {
    width: 100px;
    padding: 4px 10px !important;
}

.text-right {
    text-align: right;
}

.table-input {
    width: 100px;
    height: 30px;
}

.table-input-text {
    width: 150px;
    height: 30px;
}

.as-row-table-height {
    height: 30px;
}

#externalRatesTable .yellowRow {
    color: rgb(183, 175, 31);
    font-weight: bold;
}

#externalRatesTable .redRow {
    color: red;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.top-buffer {
    margin-top: 5px;
}